<div class="container">
	<h2 class="form-signin-heading">{{ title }}</h2>
	<form action="/home" method="post">
		<label>User name</label><br>
		<input type="text" name="user_name" id="user_name"/><br><br>
		<label>Password</label><br>
		<input type="password" name="password" id="password"/><br><br>
		<input type="submit" value="Login"/>
	</form>
</div>
